@import "../modules/base";

.footer {
  margin: 90px 0;
  color: rgba($white, 0.5);
  font-size: 0.75rem;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }

  .column {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;

    &:first-child {
      width: 50%;
    }
  }

  &__title {
    color: $white;
    font-size: 0.875rem;
  }

  &-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      padding: 5px 0;

      &:hover {
        color: $white;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.copyright {
  color: $white;
  font-weight: 600;
}

@include mq(tablet) {
  .footer {
    .container {
      flex-wrap: wrap;

      .column {
        width: percentage(1 / 3);

        &:first-child {
          width: 100%;
          margin: 0 0 15px;
        }
      }
    }
  }
}