@import "modules/base";

body {
  background: #34363C;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#iron-router-progress {
  background-color: $accent;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
  line-height: normal;
}

h1 {
  font-size: 1.875rem; // 30px
}

h2 {
  font-size: 1.5rem; // 24px
}

h3 {
  font-size: 1.375rem; // 20px
}

h4 {
  font-size: 1.25rem; // 18px
}

h5 {
  font-size: 1rem; // 16px
}

h6 {
  font-size: 0.875rem; // 14px
}

.btn {
  outline: none;
  display: inline-block;
  background: $accent;
  max-height: 40px;
  border: 0;
  border-radius: 2px;
  padding: 14px 20px;
  box-sizing: border-box;
  color: $white;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;

  &:hover {
    background: darken($accent, 5%);
  }

  &--block {
    width: 100%;
  }

  &--facebook {
    background: #3B5998;
  }

  &--twitter {
    background: #00ACED;
  }
}

.input {
  outline: none;
  display: inline-block;
  background: rgba($black, 0.1);
  min-width: 220px;
  max-height: 40px;
  border: 0;
  border-radius: 2px;
  padding: 14px 20px;
  box-sizing: border-box;
  color: $white;
  font-size: 0.75rem;
  line-height: normal;

  &:focus {
    background: rgba($black, 0.2);
  }
}

.icon {
  &--image {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.container {
  position: relative;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.logo {
  img {
    display: block;
  }
}

.page-header {
  padding: 90px 0;
  box-sizing: border-box;
  color: $white;
  text-align: center;

  &__title,
  &__meta {
    width: 100%;
    color: inherit;
  }

  &__title {}

  &__meta {
    font-weight: 300;
  }
}