main
  .page-header
    .container
      h1.page-header__title Lorem ipsum dolor sit amet, consectetur adipiscing.
      h2.page-header__meta Ut pretium pretium tempor. Ut eget.

  .container

    +subscribe