.container
  .auth.auth--login
    h4.auth__title Log Into Your Account
    form.auth__form
      .auth__group
        input.input(type="email"
                    name="email"
                    placeholder="Email Address"
                    required)

      .auth__group
        input.input(type="password"
                    name="password"
                    placeholder="Password"
                    required)

      .auth__group
        button.btn(type="submit") Log In
        a.auth__link(href="{{pathFor route='forgot'}}") Forgot Password?

  .auth.auth--divider OR

  .auth.auth--social
    .auth__group
      button.btn.btn--block.btn--facebook(type="button") <b>Log In</b> with <b>Facebook</b>
      button.btn.btn--block.btn--twitter(type="button") <b>Log In</b> with <b>Twitter</b>

  .auth.auth--footer
    | Already have an account? <a class="auth__link" href="{{pathFor route='signup'}}">Sign Up</a>