footer.footer
  .container

    //- Column (Block)
    .column
      img(src="img/logo.svg")
      p.copyright Copyright &copy; 2016
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat aequius Triarium aliquid de dissensione nostra iudicare.

    //- Column (Block)
    .column
      h5.footer__title Resources
      ul.footer-menu
        li.footer-menu__item: a(href="") Components
        li.footer-menu__item: a(href="") Courses
        li.footer-menu__item: a(href="") Experiments
        li.footer-menu__item: a(href="") Templates

    //- Column (Block)
    .column
      h5.footer__title Community
      ul.footer-menu
        li.footer-menu__item: a(href="{{pathFor route='blog'}}") Blog
        li.footer-menu__item: a(href="{{pathFor route='slack'}}") Slack
        li.footer-menu__item: a(href="https://github.com/") GitHub

    //- Column (Block)
    .column
      h5.footer__title Support
      ul.footer-menu
        li.footer-menu__item: a(href="{{pathFor route='support'}}") Help Center
        li.footer-menu__item: a(href="{{pathFor route='license'}}") License
        li.footer-menu__item: a(href="{{pathFor route='legal'}}") Terms of Service
        li.footer-menu__item: a(href="{{pathFor route='legal'}}") Privacy Policy
