//- Header (Block)
header.header

  //- Container (Block)
  .container

    //- Logo (Block)
    .logo: a(href="{{pathFor route='home'}}"): img(src='img/logo.svg')

    //- Header Toggle (Element)
    .header__toggle
      span
      span
      span

    //- Header Content (Element)
    .header__content

      //- Nav (Block)
      .nav
        ul.nav__menu
          li.nav__item(class="{{isActiveRoute regex='home|post|category'}}")
            a(href="{{pathFor route='home'}}") Library
            ul.nav__menu
              li.nav__item(class="{{isActiveRoute regex='category'}}")
                a(href="{{pathFor}}") Components
              li.nav__item(class="{{isActiveRoute regex='category'}}")
                a(href="{{pathFor}}") Courses
              li.nav__item(class="{{isActiveRoute regex='category'}}")
                a(href="{{pathFor}}") Experiments
              li.nav__item(class="{{isActiveRoute regex='category'}}")
                a(href="{{pathFor}}") Templates
          li.nav__item(class="{{isActiveRoute name='blog'}}")
            a(href="{{pathFor route='blog'}}") Blog
          li.nav__item(class="{{isActiveRoute name='slack'}}")
            a(href="{{pathFor route='slack'}}") Slack
          li.nav__item(class="{{isActiveRoute name='pricing'}}")
            a(href="{{pathFor route='pricing'}}") Pricing
          li.nav__item
            a.icon.icon--image.icon--dots-horizontal(href="#")
              img(src="img/icons/dots-horizontal.svg")
            ul.nav__menu
              li.nav__item(class="{{isActiveRoute name='about'}}")
                a(href="{{pathFor route='about'}}") About
              li.nav__item(class="{{isActiveRoute name='sponsor'}}")
                a(href="{{pathFor route='sponsor'}}") Sponsor
              li.nav__item(class="{{isActiveRoute regex='license|privacy|terms'}}")
                a(href="{{pathFor route='license'}}") Legal
              li.nav__item(class="{{isActiveRoute name='support'}}")
                a(href="{{pathFor route='support'}}") Support

      //- Header Divider (Element)
      .header__divider

      //- Search (Block)
      form.search
        label.icon.icon--search(for="search")
          img(src="img/icons/search.svg")
        input.search__field(type="search"
                            name="search"
                            placeholder="Search for resources")

      //- Nav (Block)
      .nav.nav--right
        ul.nav__menu
          li.nav__item
            a(class="{{#if isMobile}}btn{{/if}}"
              href="{{pathFor route='login'}}") Log In
          li.nav__item
            a.btn(href="{{pathFor route='signup'}}") Sign Up — It's Free