.subscribe
  .subscribe__text
    h5 Lorem ipsum dolor sit amet, consectetur.
    p Quis est enim, in quo sit cupiditas, quin recte cupidus dici possit? Quae autem natura.
  form.subscribe__form
    input.input(type="email"
                name="subscribe"
                placeholder="Email Address"
                required)
    button.btn(type="submit") Subscribe